//
//  Architect.debug.xcconfig
//  Architect
//
//  Created by  dingxiuwei on 2019/3/12.
//  Copyright © 2019年  dingxiuwei. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./Pods/Target Support Files/Pods-Architect/Pods-Architect.debug.xcconfig"
